n8n/workflows/sheilys_learn_to_earn_workflow.json
{
  "name": "SHEILYS Learn-to-Earn Automation Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "/api/webhooks/gamification/achievement-webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "id": "99a0b9e3-8d8a-4d3a-8b9a-3d8a0b9a3d8a",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "achievement-webhook"
    },
    {
      "parameters": {
        "url": "http://sheily-ai:8000/api/mcp/coordinator/rewards/profile",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.N8N_BEARER_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a8f0c9e3-8d8a-4d3a-8b9a-3d8a0b9a3d8b",
      "name": "Get User Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "base_reward_sheilyns",
              "value": "={{ $json.reward_sheilyns || 0 }}"
            },
            {
              "name": "streak_bonus",
              "value": "={{ $json.streak_maintained ? $json.current_streak * 0.5 : 0 }}"
            },
            {
              "name": "nft_multiplier",
              "value": "={{ $json.nft_minted ? 1.5 : 1.0 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b8f0c9e3-8d8a-4d3a-8b9a-3d8a0b9a3d8c",
      "name": "Calculate Reward Algorithm",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://sheily-ai:8000/api/blockchain/mint-token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.N8N_BEARER_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $node['Webhook Trigger'].json.user_id }}"
            },
            {
              "name": "amount",
              "value": "={{ $node['Calculate Reward Algorithm'].json.base_reward_sheilyns * $node['Calculate Reward Algorithm'].json.nft_multiplier + $node['Calculate Reward Algorithm'].json.streak_bonus }}"
            },
            {
              "name": "reason",
              "value": "achievement_{{ $node['Webhook Trigger'].json.achievement_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c8f0c9e3-8d8a-4d3a-8b9a-3d8a0b9a3d8d",
      "name": "Mint SHEILYS Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "condition": "={{ $node['Webhook Trigger'].json.nft_minted === true }}",
        "options": {}
      },
      "id": "d8f0c9e3-8d8a-4d3a-8b9a-3d8a0b9a3d8e",
      "name": "NFT Mint Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "url": "http://sheily-ai:8000/api/blockchain/mint-nft",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $node['Webhook Trigger'].json.user_id }}"
            },
            {
              "name": "collection",
              "value": "credentials_certificates"
            },
            {
              "name": "metadata",
              "value": {
                "achievement": "{{ $node['Webhook Trigger'].json.achievement_id }}",
                "reward_amount": "{{ $node['Calculate Reward Algorithm'].json.base_reward_sheilyns }}",
                "minted_at": "={{ new Date().toISOString() }}",
                "blockchain_verified": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "e8f0c9e3-8d8a-4d3a-8b9a-3d8a0b9a3d8f",
      "name": "Mint Achievement NFT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1120, 480]
    },
    {
      "parameters": {
        "url": "http://sheily-ai:8000/api/gamification/leaderboard/update",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $node['Webhook Trigger'].json.user_id }}"
            },
            {
              "name": "achievement_score",
              "value": "{{ $node['Calculate Reward Algorithm'].json.base_reward_sheilyns }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f8f0c9e3-8d8a-4d3a-8b9a-3d8a0b9a3d90",
      "name": "Update Leaderboards",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "serviceName": "Pushover",
        "message": "=🎉 **Achievement Unlocked!**\n🎓 User: {{ $node['Webhook Trigger'].json.user_id }}\n🏆 Achievement: {{ $node['Webhook Trigger'].json.achievement_id }}\n💰 SHEILYS Earned: {{ $node['Calculate Reward Algorithm'].json.base_reward_sheilyns * $node['Calculate Reward Algorithm'].json.nft_multiplier + $node['Calculate Reward Algorithm'].json.streak_bonus }}\n🎨 NFT Minted: {{ $node['Webhook Trigger'].json.nft_minted ? 'Yes' : 'No' }}",
        "options": {}
      },
      "id": "g8f0c9e3-8d8a-4d3a-8b9a-3d8a0b9a3d91",
      "name": "Send Achievement Notification",
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "url": "http://sheily-ai:8000/api/analytics/event",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event_type",
              "value": "achievement_earned"
            },
            {
              "name": "user_id",
              "value": "={{ $node['Webhook Trigger'].json.user_id }}"
            },
            {
              "name": "achievement_id",
              "value": "={{ $node['Webhook Trigger'].json.achievement_id }}"
            },
            {
              "name": "reward_amount",
              "value": "={{ $node['Calculate Reward Algorithm'].json.base_reward_sheilyns }}"
            },
            {
              "name": "level_up",
              "value": "={{ $node['Webhook Trigger'].json.level_up_triggered }}"
            }
          ]
        },
        "options": {}
      },
      "id": "h8f0c9e3-8d8a-4d3a-8b9a-3d8a0b9a3d92",
      "name": "Generate Analytics Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Profile": {
      "main": [
        [
          {
            "node": "Calculate Reward Algorithm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Reward Algorithm": {
      "main": [
        [
          {
            "node": "Mint SHEILYS Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mint SHEILYS Token": {
      "main": [
        [
          {
            "node": "NFT Mint Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NFT Mint Check": {
      "main": [
        [
          {
            "node": "Update Leaderboards",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mint Achievement NFT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mint Achievement NFT": {
      "main": [
        [
          {
            "node": "Update Leaderboards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Leaderboards": {
      "main": [
        [
          {
            "node": "Send Achievement Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Achievement Notification": {
      "main": [
        [
          {
            "node": "Generate Analytics Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Europe/Madrid",
    "executionTimeout": 300,
    "saveExecutionProgress": true,
    "saveManualExecutions": false,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "meta": {
    "instanceId": "sheily_enterprise_instance"
  },
  "versionId": "1.0"
}
